/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: oklch(51.01% 0.274 263.83 / 25%);
}
